body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}


/* modal produtos
 */

 .modal_produto{
    font-size: 12px;
 }